@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	user-select: none;
}

body,
main {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
