@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "JetBrains Mono";
	src: url("/fonts/JetBrainsMono-VF.woff2") format("woff2");
	font-weight: 100 800;
	font-stretch: 25% 151%;
}
@font-face {
	font-family: "JetBrains Mono";
	src: url("/fonts/JetBrainsMono-Italic-VF.woff2") format("woff2");
	font-style: italic;
	font-weight: 100 800;
	font-stretch: 25% 151%;
}

* {
	user-select: none;
}

html {
	@apply fixed top-0 left-0;
}

body,
main {
	@apply font-mono;

	touch-action: none;

	width: 100dvw;
	height: 100dvh;
	overflow: hidden;
}

img {
	max-width: none;
}

.top-left {
	@apply top-0 left-0;
}
.top-center {
	@apply top-0 left-1/2;
}
.top-right {
	@apply top-0 right-0;
}
.middle-left {
	@apply top-1/2 left-0;
}
.middle-center {
	@apply top-1/2 left-1/2;
}
.middle-right {
	@apply top-1/2 right-0;
}
.bottom-left {
	@apply bottom-0 left-0;
}
.bottom-center {
	@apply bottom-0 left-1/2;
}
.bottom-right {
	@apply bottom-0 right-0;
}

@layer base {
	.grabbing {
		@apply !cursor-grabbing;
	}
}

@layer components {
	[data-draggable="true"] {
		pointer-events: auto;
	}

	[data-draggable="true"] > * {
		pointer-events: none;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
